In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('H:/Ngampus lur/UAS/nomer4.xls')

In [4]:
data.tail()

   Kejadian  Cuaca Temperatur Kelembaban Berangin Bermain
10      K11  Cerah      Panas     Tinggi       Ya   Tidak
11      K12  Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13  Cerah     Dingin     Normal    Tidak      Ya
13      K14  Cerah     Hangat     Normal       Ya      Ya
14      K15  Hujan     Hangat     Normal    Tidak   Tidak

In [5]:
data.shape

(15, 6)

In [6]:
#tahap1#

In [7]:
data["Cuaca"].value_counts()

Hujan      6
Cerah      5
Berawan    4
Name: Cuaca, dtype: int64

In [10]:
Hujan_Ya=6/15
Hujan_Tidak =5/15

In [11]:
print(Hujan_Ya)
print(Hujan_Tidak)

0.4
0.3333333333333333

In [12]:
#tahap2#

In [ ]:
pd.crosstab(data[""],data ["Bermain"])